@{
    ViewData["Title"] = "About Me";
}
<h2>Information about the signed in user.</h2>

<p>UPN: @ViewData["UPN"]</p>
<p>FHIR Server URL: @ViewData["FhirServerUrl"]</p>
<p>Access Token: </p>
<form>
    <textarea id="tokenfield" style="width: 20cm; height: 5cm;">@ViewData["token"]</textarea>
</form>
