@{
    ViewData["Title"] = "Resource";
}

<h2>@ViewData["Title"]</h2>

<pre id="jsonField"></pre>

<script lang="JavaScript">
    var str = @Html.Raw(ViewData["ResourceJson"]);
    var jsonString = JSON.stringify(str, null, 2);
    document.getElementById('jsonField').innerText = jsonString;
</script>